
.mainmaxwidth{
    margin:auto;
    max-width: 1080px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.container1{
    margin: 10px 20px;
    display: block;

}
.container1 h1{
    padding: 6px;
    border-bottom: 1px solid rgba(128, 128, 128,0.4);

}
.container1 h1:last-child{
    border-bottom: 0;
    border-top: 1px solid rgba(128, 128, 128,0.4);
 
 }
.floatLeft{
    float: left;
    }
.floatRight{
float: right;
}
.logomain{
    margin: 0.5em auto;
    width: 80%;
}

.efforts{
    margin: auto;
    margin-top: 6em;   
   
    
}
.efforts h1{
    font-size: 1.7em;
    max-width: fit-content;
    padding: 0.5em;
    border-bottom: 1px solid white; 
    letter-spacing: 2px;
}

.division{
    
    display: inline-block;
    margin:auto;
    margin-top: 3em;
}
.flex{
    width: 100%;
    padding: 5px;

    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}
.numbers{
    font-size: 1em;
    font-weight: bold;
}

.border{
    display: block;
    padding: 10px;
    text-align: center;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    height: 100%;
    margin: auto 5px;

}
.border h2{
text-align: center;
font-size: 1em;
}

.border p{
    height: 80%;
    font-size: 0.8em;
    margin: 1em auto;
    }
.counter{
    padding: 5px 5px 5px 0;
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-self: center;

    
}
.u-one, .helpstillneeded{
    text-align: justify;
    border: 1px solid rgba(255, 255, 255,0.5);
    height:29em;
    width: 32%;
    
}
.counterhelp, .counterResIndex{
    padding: 5px;
    border: 1px solid rgba(255, 255, 255,0.5);
    background: rgba(128, 128, 128, 0.5);
    height: 100%;
    width:100%;
    overflow: hidden;
    font-size: 1.02em;
    align-items: stretch;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.counterResIndex{
    margin-left: 0.5em;
}
.counterMargin{
   display: flex;
   justify-content: space-between;
    width: 50%;

}
 h2{
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto ;
    }
.counterhelp h3, .counterResIndex h3{

    font-size: 0.8em;
   width: 100%;
   margin: -0.5em auto 2.5em auto;
    text-align: center;
}
.u-one a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgreen;
    margin: 0.5em auto;
    height: 30px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.u-one a:last-child{
    background: rgb(131, 177, 40);
}
.u-one a:hover{
background: rgb(6, 163, 6);
color:black;
}
.mainmaxwidth hr{
    width: 50%;
    margin: 2em auto;
}
.center{
    margin: auto;
    align-self: center;
    justify-self: center;
}
center h1{
    font-size: 2em;
}
.volunteers p{
    margin-top: 2em;
    max-width: 90%;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 2em;
}
.volunteers a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgreen;
    margin: 0.5em auto;
    height: 30px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.volunteers a:hover{
    background: rgb(6, 163, 6);
    color:black;
}
.f1, .f2, .f3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 2em auto;
    padding: 1em;
}
.founders{
    height: 20em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.words{
    text-align: justify;
    margin: auto 1em;
}

footer hr{
    max-width: 1080px;
    width: 100%;
}










 /* Mobile 
@media screen and (max-width:720px){
*{
    font-size: 12px;
}
.counterhelp h2, .counterResIndex h2{
    font-size: 0.9em;
}
.counterhelp h3, .counterResIndex h3{
 font-size: 0.7em;
}
}