
body{
  
    margin:0 ;
    background: url("data\\Background\\HomePageBackground.jpg"), url("data\\Background\\grass1.jpg ");
    background-position: top, center;
    background-attachment: scroll, fixed;
    background-size: 106.6em 36.1em;
    color:whitesmoke;
    background-repeat: no-repeat, repeat;
}

.home{
    background-color: darkgreen;
    padding:10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
} 
.helpContainer{
    max-width: 1080px;
    margin: auto;
    margin-top: 2em;
}
.donation{
    margin:  auto;
    float: right;
    width: 11.1em;
    font-size: large;
}

.help{
    text-transform: uppercase;
    font-size: 2em;
    text-align: right;
}
.donatenow{
    float: right;
    width: 11em;
    background: #FDCA40;
    padding: 10px 5px;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: -11em;
    margin-top: 11em;;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transition-duration: 0.4s;
    position: sticky;
    top:5px;

}
.donatenow:hover{
    background-color: orange;
}
.secmaxwidth{
   
    margin:auto;
    max-width: 1080px;
    margin-top: 24.5em;
    overflow: hidden;
 
}
.secondContainer{
    
    margin:auto;
    max-width: 44em;
    max-height: 200px;
    color: rgb(24, 20, 20);
    padding: 1.4em 1em;
    background-color: rgba(199, 194, 194, 0.95);
    display: block;
    float:left;
    z-index: +1;
    box-shadow: 2px 4px 5px grey ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
  
}

.stats{
    margin:auto;
 display: inline-flex;
 align-items: center;
 height: 8.5em;
 width: 100%;
 justify-content: space-evenly;
z-index: 1;
font-size: 0.8em;

}
.covid, .edu, .employee{
    display:block;
    text-align: center;
    border-right: 1px solid grey;
    width: 33.3%;
}
.employee{
    border-right: none;
}
span{
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;
}

.thirdContainer{
    
   display: block;
   align-items: center;
   margin: auto;
   width:100%;
   overflow: hidden;
    /* max-height: 700px;*/

}
.maxwidth{
max-width: 1080px;
align-items: center;
margin: auto;

}
.thirdContainer h1{
    font-size: 1.7em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid grey ;
}
.thirdContainer p{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 0.5em;
    border-bottom:  1px solid gray;
    border-right:  1px solid gray;
    border-left:  1px solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.flexthird{
    margin-top: 2.8em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.founders{
    max-height: 21em;
    width:200px;
    padding: auto 10px;
    margin-right: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.thirdContainer p{
    margin: 1em;
    align-self: center;
   text-align: justify;
   text-indent: 1em;
   letter-spacing: 2px;
   line-height: 20px;
   word-spacing: 5px;
}
.maxwidth h1{
    letter-spacing: 0.1em;
    display: block;
    text-transform: uppercase;
    margin-top: 3em;
    padding-bottom: 0.5em;
    font-size: 1.7em;
    border-bottom: 1px solid grey ;
}
.forthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.first, .second, .third, .fourth, .fifth, .sixth{
    background-color: rgba(128, 128, 128, 0.1);
    word-spacing: 5px;
    overflow: hidden;
   /* background-color: rgb(26, 99, 26); */
    width: 31%;
    display: block;
    padding: 0.6em;
    text-align: justify;
    margin: 4px;
    border:1px solid grey ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
h2{
    text-align: center;
    font-size: 1.2em;

}
.fifthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
}

/* Mobile Styling */ 
@media screen and (max-width:720px){
    *{
        font-size: 14px;
    }

    .donation{
        font-size: small;
        
      }
    .donatenow{
        top: 3.7em;
        z-index: 3;
    }
    .helpContainer{
        margin-top: 12em ;
    }
    .secmaxwidth{
      clear: right;
     
    }
    .secondContainer{
     
        margin-top: 5.2em;
    }

}

