
body{
  
    margin:auto ;
    background: url("../data/Background/greysmiling.png");
    background-position: top center;
    background-attachment: scroll;
    background-size: 135em;
    color:black;
    background-repeat: no-repeat;
}

.helpContainer{
    max-width: 1080px;
    margin: auto;
    margin-top: 2em;
    
    
}
.donation{
    margin:  auto;
    float: right;
    width: 11.1em;
    font-size: large;
}

.help{
    text-transform: uppercase;
    font-size: 2em;
    text-align: right;
    color: white;
}
.donatenow{
    float: right;
    width: 11em;
    background: #FDEA40;
    padding: 10px 5px;
    border: none;
    color: rgb(77, 77, 77);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: -11em;
    margin-top: 12em;
     border-radius:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transition-duration: 0.4s;
    position: sticky;
    top:5px;

}
.donatenow:hover{
    background-color: orange;
    transform: scale(1.07,1.04);
    -webkit-transform: scale(1.07,1.04);
    -moz-transform: scale(1.07,1.04);
    -ms-transform: scale(1.07,1.04);
    -o-transform: scale(1.07,1.04);
    color: black;
}
.maxwidth{
    max-width: 1080px;
    margin: auto;
    
    }
.secmaxwidth{
   
    margin:auto;
    max-width: 1080px;
    margin-top: 18.5em;
    overflow: visible;
    
 
}
.secondContainer{
    margin:auto 0.2em;
    max-width: 45em; 
    padding: 1.4em 1em;
    background: #FDEA40;
    /* rgba(199, 194, 194, 0.95); */ 
    display: block;
    float:left;
    z-index: +1;
border: 2px solid white;
    color: rgb(24, 20, 20);
  
}

.stats{
    margin:auto;
 display: inline-flex;
 align-items: center;
 width: 100%;
 justify-content: space-evenly;
 z-index: 1;



}
.covid, .edu, .employee{
    display:block;
    text-align: center;
    border-right: 1px solid grey;
    width: 33.2%;
    font-size: 1em;
    padding: 0 0.2em;
 
}
.employee{
    border-right: none;
    
}

span{
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1.4em;
    color: black;
  
}

.thirdContainer{
    
   display: block;
   margin: auto;
   width:100%;
   overflow: hidden;
    /* max-height: 700px;*/

}


h1{

    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 4em;
    clear: both;
}

.flexthird{
    margin-top: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

 
}
.Fimages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 60%;
}

.founders{
    max-height: 60%;
    width:30%;
   
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.founders:hover{
  
    transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    -moz-transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -o-transform: scale(1.04,1.04);
    transition: transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out;
    -moz-transition: transform 150ms ease-in-out;
    -ms-transition: transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
}
.thirdContainer p{
    width: 40%;
    margin: 0.5em;
    align-self: center;
   text-align: justify;
   text-indent: 1em;
   letter-spacing: 2px;
   line-height: 20px;
   word-spacing: 5px;
}
.thirdContainer p a{

text-decoration: underline;
color: black;
font-size: 1.2em;

}
.thirdContainer p a:hover{
    color: darkgrey;
}

.forthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.forthContainer h2{
    margin-bottom: 1em;
}
.first, .second, .third, .fourth, .fifth, .sixth{
 
    word-spacing: 5px;
    overflow: hidden;

    width: 25%;
    display: block;
    padding: 0.6em;
    text-align: justify;
    margin: 1em 2em;

    max-width: max-content;
}
.oureffortsLink{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #4F625E;
    display: block;
    margin: auto;
    padding: 0.6em;
    width: 50%;
    border-radius: 1px;
    box-shadow: 0px 2px 2px black;
    overflow: visible;
}
.oureffortsLink:hover{
    background-color: darkgray;
    color: black;
    transform: scale(1, 1.1);
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}

h2{
    text-align: center;
    font-size: 1.2em;

}
.fifthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    overflow: visible;
}

.ourReach img{
    margin: auto;
    max-width: 100%;
    padding: 1em;
}
.UpcomingEvents{
    display: flex;
    flex-wrap: wrap;
}
.UpcomingEvents a, .recentBlogs a{
    color: black;
    text-decoration: underline;
}
.UpcomingEvents a:hover, .recentBlogs a:hover{

    color:darkgrey;
}
.event1, .event2, .event3{
    margin: 0.5em 0.2em;
    width: 100%;
    display: block;
}
.eventDate{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgray;
    height: 100%;
    float: left;
    width: 20%;
    margin-top: 1em;

}

.eventDetails{
   
    line-height: 1.5em;
    width: 78%;
    float: right;
  
}
.eventHeading h2, .recentBlogs h2{
text-align: left;
width: 100%;
margin-left: 0;

}
.eventDate h2 span{
    margin-top: -1em;
    margin-bottom: -0.6em;
    font-size: 2em;
}

.recentBlogs{
    line-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog1, .blog2, .blog3{
width: 28%;
margin: 2em  1.5em;

}
.commas{
    margin-top: 0;
    border:none;
    width: 100%;
    font-size: 3em;
    height: 0.1em;
}
.blogDetails{
    width: 90%;
    float: right;
    margin-top: -3em;
    margin-left: 0.5em;
}
.newsletter{
    max-width: 1000px;
    margin: 6em 1em 1em;
}
.newsletter p{
    text-align: center;
    line-height: 1.5em;
}
form{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
input{
    margin: 1em auto;
    width: 90%;
    padding: 0.5em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.name{
    width: 60%;
}
.phNumber{
    width: 40%;
}
.email{
    margin-top: 1em;
    width: 30%;
}
.submitButton{
    width: 70%;
    margin-top: 1em;
}
.submitButton input{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: whitesmoke;
    box-shadow: 2px 2px black;
    width: 100%;
    margin-top: 2em;
    background-color:darkgreen;
    padding: 0.7em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.submitButton input:hover {
    background-color: limegreen;
    color: black;
    transform:scale(1.05, 1.05) ;
    -webkit-transform:scale(1.05, 1.05) ;
    -moz-transform:scale(1.05, 1.05) ;
    -ms-transform:scale(1.05, 1.05) ;
    -o-transform:scale(1.05, 1.05) ;
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}




/* Mobile Styling */ 
@media screen and (max-width:720px){
    *{
        font-size: 14px;
    }

    .donation{
        font-size: small;    
      }
    .donatenow{
        margin-top: 10em;
       font-size: small;
        top: 4.2em;
        z-index: 3;
        max-width: fit-content;
        padding-left: 1em;
        padding-right: 1em;
    }
    .helpContainer{
        margin-top: 8em ;
    }
    .secmaxwidth{
      clear: right;
     
    }
    .secondContainer{
     
        margin-top: 5.2em;
    }
    .covid h3, .edu h3, .employee h3{
      margin-top: -2em;
        font-size: 0.8em;
    }
    .first, .second, .third, .fourth, .fifth, .sixth{
        margin: 1em 2.2em;
        width: 35%;
    }
    .thirdContainer{
        width: 100%;
    }
    .flexthird{
        flex-wrap: wrap;
    }
    .Fimages{
        width: 100%;

    }
    .founders{
        width: 30%;
    }
    .flexthird p{
        width: 90%;
    }
    .recentBlogs{
        flex-wrap: wrap;
       width: 95%;
    }
    .blog1, .blog2, .blog3{
        width: 100%;
    }
    .commas{
        width: 100%;
        margin-left: em;
    }
    .blogDetails{
        margin: -1em 1em 1em 0em ;
        width: 95%;
        text-align: justify;
    }
    .event1, .event2, .event3{
        margin-top: 1em;
    }
    .eventDate{
        margin-top: 0;
        font-size: smaller;
      
    }
    .readMore{
    float: left;
    margin-top: 10px;
    
    }
    .name, .phNumber, .email{
margin: auto;
     margin-top: 1em;
        width: 100%;
    }

 

@media screen and (max-width:400px){
*{
    margin: auto;
    max-width: none;
}
body{
   
    width: 200vw;
}


}
}
