@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,700&display=swap');


/* This is the header and footer styling common to all pages.. */



*{
    box-sizing: border-box;
    font-family: Roboto, Tahoma, sans-serif;
    font-size:18px;
    padding:0;
    color: black;
   

}

.nav-toggle{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}



.active{
   color: white;
    padding:10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
} 
.nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80em;
    margin: auto;
 
  }
  .logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      width: max-content;
  }
  .orgName{
      padding-top: 0.5em;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: xx-large;
      font-weight: bold;
      width: max-content;
  }
  #logo {

    height: 150px;
    
    margin-top: 1em;
    margin-left:1em;
  }
  
  nav {
    align-items: center;
    
  }
  
  nav ul {
    display: flex;
    margin-top: 1em;
    margin-right: 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: max-content;
  }

li ,a {
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: rgb(221, 221, 221);
}
header a:hover{
    
    color:black;
    
}
a:active{
    color: darkgreen;
}
/* 
.helpContainer{
    max-width: 1080px;
    margin: auto;
    margin-top: 2em;
}


.donatenow{
    float: right;
    width: 11em;
    background: #FDCA40;
    padding: 10px 5px;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: -11em;
    margin-top: 11em;;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transition-duration: 0.4s;
    position: sticky;
    top:5px;

}
.donatenow:hover{
    background-color: orange;
}
*/ 
span{
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;
}


/* Footer Styling starts*/ 

.footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1em auto;
}
.footer a{
    color: black;
}
 .address, .contact, .social{

width : 30%;
margin-top: 1em;
margin-left: 10px;
border-right: 1px solid grey;
height: 12.5em;
text-align: justify;
padding: 0.1em;
letter-spacing: 2px;


}
.social{
    border-right:none;

}
.footer h3{
    font-size: 1.2em;
    text-align: left;
 
}
.footer h3{
    color:grey;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.footer h4{
    margin: 1em auto 1em auto;
}
.contact h4 a:hover, .social h4 a:hover{
    color:limegreen;
}
.social, .contact,.address, .addresswidth{
    font-size: medium;
    line-height: 15px;
}
.addresswidth{
    display: inline-block;
    max-width: 300px;
    line-height: 25px;
}
.ficon{
    width: 22px;
}




/* Mobile Styling */ 
@media screen and (max-width:720px){
    *{
        font-size: 14px;
        margin: auto;
    }
 

    #logo{
        margin-left: 4em;
        height: 3.7em;

 }
    header {
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        position: fixed;
        top:0;
        z-index: 1;
        width: 100%;
        height: 5.0em;
      }
      
      
      .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
      }
      
    
      
      .nav-toggle-label span,
      .nav-toggle-label span::before,
      .nav-toggle-label span::after {
        display: block;
        background: url("../data/icons/menu.png");
        background-size: 42px;
        position: relative;
        transition: background 300ms ease-in-out 500ms;
      }
      
      nav {
          
        position: absolute;
        text-align: center;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 600ms ease-in-out;
        -webkit-transition: transform 600ms ease-in-out;
        -moz-transition: transform 600ms ease-in-out;
        -ms-transition: transform 600ms ease-in-out;
        -o-transition: transform 600ms ease-in-out;
}
      
      nav ul {
          display: block;
        margin: auto;
        padding: 5px
        ;
        list-style: none;
        margin-top: 10px;
      }
      
      nav li {
          
        margin-bottom: 2em;
        margin-left: 1em;
        padding-top: 5px;
      }
      
      nav a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
      
      nav a:hover {

        color: limegreen;
      }
      nav a:active{
          color:green;
      }
      
      .nav-toggle:checked ~ nav {
        transform: scale(1,1);
      }
      
      .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }
      .nav-toggle:checked ~ .nav-toggle-label span,
      .nav-toggle-label span::before,
      .nav-toggle-label span::after{
          background: url("../data/icons/close.png");
          background-size: 42px;
          transition: background 300ms ease-in-out 500ms;
          -webkit-transition: background 300ms ease-in-out 500ms;
          -moz-transition: background 300ms ease-in-out 500ms;
          -ms-transition: background 300ms ease-in-out 500ms;
          -o-transition: background 300ms ease-in-out 500ms;
}

}
/*Tab style*/ 
@media screen and (min-width:720px){
    li ,a{
        padding: 0 6px 0 0;
        
    }
    #logo{
        height: 40px;
    }
}
@media screen and (min-width:780px){
    li ,a{
        padding: 0 10px 0 0;
    }
    #logo{
        height: 47px;
    }
}
@media screen and (min-width:840px){
    li ,a{
        padding: 0 14px 0 0;
    }
    #logo{
        height: 50px;
    }

}
@media screen and (min-width:900px){
    li ,a{
        padding: 0 18px 0 0;
    }
    #logo{
        height: 54px;
    }
    
}
@media screen and (min-width:960px){
    li ,a{
        padding: 0 22px 0 0;
    }
    #logo{
        height: 57px;
    }
    
}
