
body{
  
    margin:auto ;
    background: url("../data/Background/HomePageBackground.jpg");
    background-position: top center;
    background-attachment: scroll;
    background-size: 110.6em;
    color:black;
    background-repeat: no-repeat;
}

.helpContainer{
    max-width: 1080px;
    margin: auto;
    margin-top: 2em;
    
    
}
.donation{
    margin:  auto;
    float: right;
    width: 11.1em;
    font-size: large;
}

.help{
    text-transform: uppercase;
    font-size: 2em;
    text-align: right;
    color: white;
}
.donatenow{
    float: right;
    width: 11em;
    background: #FDCA40;
    padding: 10px 5px;
    border: none;
    color: rgb(77, 77, 77);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-right: -11em;
    margin-top: 12em;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    transition-duration: 0.4s;
    position: sticky;
    top:5px;

}
.donatenow:hover{
    background-color: orange;
    transform: scale(1.07,1.04);
    -webkit-transform: scale(1.07,1.04);
    -moz-transform: scale(1.07,1.04);
    -ms-transform: scale(1.07,1.04);
    -o-transform: scale(1.07,1.04);
    color: black;
}
.secmaxwidth{
   
    margin:auto;
    max-width: 1080px;
    margin-top: 18.5em;
    overflow: visible;
 
}
.secondContainer{
    margin:auto 0.2em;
    max-width: 45em;
    max-height: 250px;
    
    padding: 1.4em 1em;
    background: linear-gradient(to bottom,rgb(179, 177, 177), white);
    /* rgba(199, 194, 194, 0.95); */ 
    display: block;
    float:left;
    z-index: +1;
    /* box-shadow: 2px 4px 5px grey ; */
   border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; 
    color: rgb(24, 20, 20);
  
}

.stats{
    margin:auto;
 display: inline-flex;
 align-items: center;
 height: 8.5em;
 width: 100%;
 justify-content: space-evenly;
 z-index: 1;



}
.covid, .edu, .employee{
    display:block;
    text-align: center;
    border-right: 1px solid grey;
    width: 33.3%;
}
.employee{
    border-right: none;
    
}
.covid h3, .edu h3, .employee h3{
    color: rgb(24, 20, 20);
}
span{
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;
    color: black;
  
}

.thirdContainer{
    
   display: block;
   align-items: center;
   margin: auto;
   width:100%;
   overflow: hidden;
    /* max-height: 700px;*/

}
.maxwidth{
max-width: 1080px;
align-items: center;
margin: auto;

}
h1{
    font-size: 1.7em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid grey ;
    margin-top: 3em;
 
}

.flexthird{
    margin-top: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

 
}
.Fimages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 60%;
}

.founders{
    max-height: 60%;
    width:30%;
    /* padding: auto 10px; */
   margin: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
   
}

.founders:hover{
  
    transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    -moz-transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -o-transform: scale(1.04,1.04);
    transition: transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out;
    -moz-transition: transform 150ms ease-in-out;
    -ms-transition: transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
}
.thirdContainer p{
    width: 40%;
    margin: 0.5em;
    align-self: center;
   text-align: justify;
   text-indent: 1em;
   letter-spacing: 2px;
   line-height: 20px;
   word-spacing: 5px;
}

.forthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.first, .second, .third, .fourth, .fifth, .sixth{
   /*  background-color: rgba(128, 128, 128, 0.1);*/ 
    word-spacing: 5px;
    overflow: hidden;
   /* background-color: rgb(26, 99, 26); */
    width: 31%;
    display: block;
    padding: 0.6em;
    text-align: justify;
    margin: 4px;
  /*  border:1px solid rgba(128, 128, 128, 0.3); 
     border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;  */
    max-width: max-content;
}
.oureffortsLink{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: green;
   
    display: block;
    margin: auto;
    padding: 0.6em;
    width: 50%;
    border-radius: 15em;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
    box-shadow: 0px 2px 2px black;
    overflow: visible;
}
.oureffortsLink:hover{
    background-color: limegreen;
    color: black;
    transform: scale(1, 1.1);
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
}

h2{
    text-align: center;
    font-size: 1.2em;

}
.fifthContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    overflow: visible;
}
.secondContainer:hover{
    transform: scale(1.02,1.02);
    -webkit-transform: scale(1.02,1.02);
    -moz-transform: scale(1.02,1.02);
    -ms-transform: scale(1.02,1.02);
    -o-transform: scale(1.02,1.02);
    transition: transform 350ms ease-in-out;
    -webkit-transition: transform 350ms ease-in-out;
    -moz-transition: transform 350ms ease-in-out;
    -ms-transition: transform 350ms ease-in-out;
    -o-transition: transform 350ms ease-in-out;
}
/* .thirdContainer p:hover, .first:hover, .second:hover, .third:hover, .fourth:hover, .fifth:hover, .sixth:hover  {
    background-color: rgba(128, 128, 128, 0.3);
    transform: scale(1.04,1.04);
    -webkit-transform: scale(1.04,1.04);
    -moz-transform: scale(1.04,1.04);
    -ms-transform: scale(1.04,1.04);
    -o-transform: scale(1.04,1.04);
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
} */

.ourReach img{
    max-width: 100vw;
    padding: 1em;
}
.UpcomingEvents{
    display: flex;
    flex-wrap: wrap;
}
.UpcomingEvents a, .recentBlogs a{
    color: black;
    text-decoration: underline;
}
.event1, .event2, .event3{
    margin: 1em 0.2em;
    width: 100%;
    
    display: block;
}
.eventDate{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray; 
    height: 100%;
    float: left;
    width: 15%;
    font-size: 0.8em;
}

.eventDetails{
    line-height: 1.5em;
    width: 83%;
    float: right;
}
.eventHeading h2, .recentBlogs h2{
text-align: left;
width: 100%;
margin-left: 0;
}

.recentBlogs{
    line-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog1, .blog2, .blog3{
width: 32%;
margin: 0 0 0 1em;

}
.commas{
    margin-top: 0;
    border:none;
    width: 100%;
    font-size: 3em;
    height: 0.1em;
}
.blogDetails{
    width: 90%;
    float: right;
    margin-top: -3em;
}
.newsletter{
    max-width: 1000px;
    margin: 6em 1em 1em;
}
.newsletter p{
    text-align: center;
    line-height: 1.5em;
}
form{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
input{
    margin: 1em auto;
    width: 90%;
    padding: 0.5em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.name{
    width: 60%;
}
.phNumber{
    width: 40%;
}
.email{
    margin-top: 1em;
    width: 30%;
}
.submitButton{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 2px 2px black;
    width: 70%;
    margin-top: 2em;
    background-color: green;
    padding: 0.7em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.submitButton:hover { 
    background-color: limegreen;
   
}
.submitButton:hover a{
    color: black;
}



/* Mobile Styling */ 
@media screen and (max-width:720px){
    *{
        font-size: 14px;
    }

    .donation{
        font-size: small;
        
      }
    .donatenow{
        top: 3.7em;
        z-index: 3;
    }
    .helpContainer{
        margin-top: 3em ;
    }
    .secmaxwidth{
      clear: right;
     
    }
    .secondContainer{
     
        margin-top: 5.2em;
    }
    .first, .second, .third, .fourth, .fifth, .sixth{
        width: 45%;
    }
    .thirdContainer{
        width: 100%;
    }
    .flexthird{
        flex-wrap: wrap;
    }
    .Fimages{
        width: 100%;

    }
    .founders{
        width: 30%;
    }
    .flexthird p{
        width: 90%;
    }
    .recentBlogs{
        flex-wrap: wrap;
    }
    .blog1, .blog2, .blog3{
        width: 100%;
    }
    .commas{
        margin-left: 1em;
    }
    .blogDetails{
        margin:0 1em 1em -1em ;
    }
    .readMore{
    float: left;
    margin-top: 10px;
    
    }
    .name, .phNumber, .email{
margin: auto;
     margin-top: 1em;
        width: 100%;
    }

 

@media screen and (max-width:400px){
*{
    margin: auto;
    max-width: none;
}
body{
   
    width: 200vw;
}


}
}
